@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'blog';
@import 'variables';

body {
  background-color: $favColor;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

